{% extends '../layouts/layout.html' %}
{% block title %} 📚图书展示页面 {% endblock %}
{% block head %}
{% endblock  %}
{% block content %}
    <ul>
    {% for val in data %}
        <li>[[ val.book_name]]</li>    
    {% endfor %}
    </ul>
    <x-books></x-books>
{% endblock %}
{% block scripts %}
<!-- <script src="https://cdn.bootcss.com/x-tag/2.0.9-alpha/x-tag-polyfilled.js"></script> -->
<!-- <script src="/scripts/list.js"></script> -->
<script>
    import("xTag/x-tag-polyfilled.js").then((_) => {
            console.log(_.default);
        })
    const frank = xtag.create('x-books', class extends XTagElement {
        name() { return 'Frankenstein'; }
        '::template(true)'() {
            return `<h2>I am ${this.name()}</h2>
            <span>I was created by a mad scientist</span>`
        }
    });
</script>
{% endblock  %}